
  <div class="large-12 columns profile">

    <div class="large-2 medium-3 small-12 panel columns">
      
        <% if @user.image.exists? %>
         <%= image_tag @user.image.url(:medium), class: "profileimage"%>
        <%else%>
          <%= image_tag "missing.png", class: "profileimage"%>     
       <%end%>

      <ul class="profilename">
        <li><p href="" class="firstname"><%= @user.name %></p></li>
      </ul>

      <ul class="profilename">
        <li><p href="" class="company"><%= @user.company %></p></li>
      </ul>      

      <ul class="profilename">
        <li><p href="" class="email"><%= @user.email %></p></li>
      </ul>

      <ul class="profiletext profileuserscorenumber">
        <li><p href="" class="profileuserscorenumber"><%= @user.karma %></p></li>
      </ul>

      <ul class="profiletext profileuserscorelabel">
        <li><p href="" class="profileuserscorelabel">User Score</p></li>
      </ul>

      <ul class="profiletext profileanswersnumber">
        <li><p href="" class="profileanswersnumber"> <%= @user.comments_count %></p></li>
      </ul>

      <ul class="profiletext profileanswerslabel">
        <li><p href="" class="profileanswerslabel">Answers</p></li>
      </ul>

       <ul class="profiletext profileedit">
        <li><%= link_to "Edit my profile", edit_user_registration_path %></li>
      </ul>

    </div>


    <div class="large-9 medium-8 small-12 columns right">

      <div class="row profileanswertitle">
        <div class="large-12 small-12 columns profileanswerslist">
          <ul class="inline-list">
            <li><span class="profileanswertitle">Answers</span></li>
          </ul>
        </div>
      </div>

   
              <% if @comments.count == 0 %>

  <p class="emailnote" style="margin-top: 30px; margin-left: 1px;">Share the knowledge...  </p>

   <ul class="button-firstanswerquestion left" style= "margin-left: 0px;">
  <%= link_to "Answer a Question!", root_path %>
  </ul>
    <%else%>

 <% @comments.each do |comment| %>
      <div class="row profileanswerbox">
     
        <div class="large-2 medium-4 small-12 columns profileupvotes">
         <ul class="upvotesnumber">
          <li><a href="" ><%= comment.get_likes.size %></a></li>
        </ul>
        <ul class="upvoteslabel">
          <li><a href="">Upvotes</a></li>
        </ul>
      </div>
    
    <%= link_to post_path(id: comment.post) do %> 
      <div class="large-10 medium-8 small-12 columns profileanswer">
       <p><%= comment.body %> </p>
       <%end%>

       <ul class="inline-list profileinfo">
        <li> <span class="date">Answered <%= comment.created_at.to_formatted_s(:long) %></span></li>
        <li><span class="category"><%= link_to "#{comment.post.category.name}", polymorphic_path([comment.post.category.linkname]) %></span></li>
        <li class="deleteanswer"><span> <%= link_to 'Delete Answer', post_comment_path(comment.post, comment), method: :delete %> </span> </li>
        
      </ul>
    </div>
    
    </div>
  <%end%>
 <%end%>
<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>

<div class="profilequestiontitle" style="margin-top: 30px;">
<span>Questions</span>
</div>


   <% if @posts.count == 0 %>

  <p class="emailnote" style="margin-top: 50px; margin-left: 1px;">Go ahead...  </p>

   <ul class="button-firstaskquestion left" style= "margin-left: 17px;">
  <%= link_to "Ask a Question!", new_post_path%>
  </ul>
    <%else%>

<% @posts.each do |post| %>
      <div class="row profileanswerbox">
     
        <div class="large-2 medium-4 small-12 columns profileupvotes">
         <ul class="answersnumber">
          <li><a href=""><%= post.comments_count %></a></li>
        </ul>
        <ul class="upvoteslabel">
          <li><a href="">Answers</a></li>
        </ul>
      </div>
    
    <%= link_to post_path(id: post) do %> 
      <div class="large-10 medium-8 small-12 columns profileanswer">
        <p><%= post.title %> </p>
        <p class=""><%= post.description %> </p>
       <%end%>

       <ul class="inline-list profileinfo">
        <li> <span class="date">Asked <%= post.created_at.to_formatted_s(:long) %></span></li>
        <li><span class="category"><%= link_to "#{post.category.name}", polymorphic_path([post.category.linkname])%></span></li>
       
        <li><%= link_to "Edit Question", edit_post_path(id: post), class: "uk-button in-line right editquestionbutton" %> </li>
      </ul>
    
      </div>

    </div>
    
  <%end%>
<%end%>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
   <br>
    <br>
    <br>
    <br>
    <br>
       <br>
    <br>
    <br>
    <br>
    <br>