
  <div class="row">

    <div class="large-2 panel columns profile">
      
        <% if @user.image.exists? %>
         <img><%= image_tag @user.image.url(:medium)%></img>
        <%else%>
          <img><%= image_tag "missing.png"%></img>     
       <%end%>

      <ul class="profilename large-centered">
        <li><p href="" class="firstname"><%= @user.name %></p></li>
      </ul>

      <ul class="profilename large-centered">
        <li><p href="" class="firstname">Firm: <%= @user.company %></p></li>
      </ul>      

      <ul class="profilename large-centered">
        <li><p href="" class="firstname">Email: <%= @user.email %></p></li>
      </ul>

      <ul class="profiletext profileuserscorenumber large-centered">
        <li><p href="" class="profileuserscorenumber"><%= @user.karma %></p></li>
      </ul>

      <ul class="profiletext profileuserscorelabel large-centered">
        <li><p href="" class="profileuserscorelabel">Userscore</p></li>
      </ul>

      <ul class="profiletext profileanswersnumber large-centered">
        <li><p href="" class="profileanswersnumber"> <%= @user.comments_count %></p></li>
      </ul>

      <ul class="profiletext profileanswerslabel large-centered">
        <li><p href="" class="profileanswerslabel">Answers</p></li>
      </ul>

       <ul class="profiletext profileanswerslabel large-centered">
        <li><%= link_to "Edit my profile", edit_user_registration_path %></li>
      </ul>

    </div>


    <div class="large-10 columns">

      <div class="row profileanswertitle">
        <div class="large-6 small-6 columns profileanswerslist">
          <ul class="inline-list">
            <li><span class="profileanswertitle">Answers</span></li>
          </ul>
        </div>

        <div class="large-6 small-6 columns">
          <div class="button-profileaskquestion">
            <%= link_to "Ask a Question", new_post_path, class: "uk-button in-line button-askquestion right"%>
          </div>
        </div>
      </div>

   
 <% @comments.each do |comment| %>
      <div class="row profileanswerbox">
     
        <div class="large-2 small-12 columns profileupvotes">
         <ul class="upvotesnumber">
          <li><a href="" class="upvotesnumber"><%= comment.get_likes.size %></a></li>
        </ul>
        <ul class="upvoteslabel">
          <li><a href="" class="upvoteslabel">Upvotes</a></li>
        </ul>
      </div>
		
		<%= link_to post_path(id: comment.post) do %> 
      <div class="large-10 small-12 columns profileanswer">
       <p><%= comment.body %> </p>
       <%end%>

       <ul class="inline-list profileinfo">
        <li> <span class="date">Answered on: <%= comment.created_at.to_formatted_s(:long) %></span></li>
        <li><span class="category"><%= link_to "#{comment.post.category.name}", posts_path(category: comment.post.category.name) %></span></li>
         <li><%= link_to "View", post_path(id: comment.post), class: "uk-button in-line right" %> </li>
      </ul>
    </div>
    
    </div>
	<%end%>
