
  <div class="large-12 columns profile">

    <div class="large-2 medium-3 small-12 panel columns">

        <% if @user.image.exists? %>
          <%= image_tag @user.image.url(:medium), class: "profileimage"%>
        <%else%>
          <%= image_tag "missing.png", class: "profileimage"%>     
        <%end%>

      <ul class="profilename">
        <li><p href="" class="firstname"><%= @user.name %></p></li>
      </ul>

      <ul class="profilename">
        <li><p href="" class="companynotlawyer"><%= @user.company %></p></li>
      </ul>      

      <ul class="profiletext profilequestionsnumber">
        <li><p href="" class="profilequestionsnumber"><%= @user.posts_count %></p></li>
      </ul>

      <ul class="profiletext profileanswerslabel">
        <li><p href="" class="profileanswerslabel">Questions</p></li>
      </ul>

      <ul class="profiletext profileedit">
        <li><%= link_to "Edit my profile", edit_user_registration_path %></li>
      </ul>

    </div>


    <div class="large-9 medium-8 small-12 columns right">

      <div class="row profileanswertitle">
        <div class="large-12 small-12 columns profileanswerslist">
          <ul class="inline-list">
            <li><span class="profileanswertitle">Questions</span></li>
          </ul>
        </div>
      </div>

   
 <% @posts.each do |post| %>
      <div class="row profileanswerbox">
     
        <div class="large-2 medium-4 small-12 columns profileupvotes">
         <ul class="answersnumber">
          <li><a href=""><%= post.comments_count %></a></li>
        </ul>
        <ul class="upvoteslabel">
          <li><a href="">Answers</a></li>
        </ul>
      </div>
    
    <%= link_to post_path(id: post) do %> 
      <div class="large-10 medium-8 small-12 columns profileanswer">
        <p><%= post.title %> </p>
        <p class=""><%= post.description %> </p>
       <%end%>

       <ul class="inline-list profileinfo">
        <li> <span class="date">Asked on: <%= post.created_at.to_formatted_s(:long) %></span></li>
        <li><span class="category"><%= link_to "#{post.category.name}", polymorphic_path([post.category.linkname]) %></span></li>
     
        
        <li><%= link_to "Edit Question", edit_post_path(id: post), class: "uk-button in-line right editquestionbutton" %> </li>
      </ul>

    
      </div>

      

    </div>
    
  <%end%>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
