
  <div class="large-12 columns profile">

    <div class="large-2 medium-3 small-12 panel columns">
      
        <% if @user.image.exists? %>
         <img><%= image_tag @user.image.url(:medium), class: "profileimage"%></img>
        <%else%>
          <img><%= image_tag "missing.png", class: "profileimage"%></img>     
       <%end%>

      <ul class="profilename">
        <li><p href="" class="firstname"><%= @user.name %></p></li>
      </ul>

      <ul class="profilename">
        <li><p href="" class="company"><%= @user.company %></p></li>
      </ul>      

      <ul class="profilename">
        <li><p href="" class="email"><%= @user.email %></p></li>
      </ul>

      <ul class="profiletext profileuserscorenumber">
        <li><p href="" class="profileuserscorenumber"><%= @user.karma %></p></li>
      </ul>

      <ul class="profiletext profileuserscorelabel">
        <li><p href="" class="profileuserscorelabel">User Score</p></li>
      </ul>

      <ul class="profiletext profileanswersnumber">
        <li><p href="" class="profileanswersnumber"> <%= @user.comments_count %></p></li>
      </ul>

      <ul class="profiletext profileanswerslabel">
        <li><p href="" class="profileanswerslabel">Answers</p></li>
      </ul>

    </div>


    <div class="large-9 medium-8 small-12 columns right">

      <div class="row profileanswertitle">
        <div class="large-12 small-12 columns profileanswerslist">
          <ul class="inline-list">
            <li><span class="profileanswertitle">Answers</span></li>
          </ul>
        </div>
      </div>

   
 <% @comments.each do |comment| %>
      <div class="row profileanswerbox">
     
        <div class="large-2 medium-4 small-12 columns profileupvotes">
         <ul class="upvotesnumber">
          <li><a href="" class="upvotesnumber"><%= comment.get_likes.size %></a></li>
        </ul>
        <ul class="upvoteslabel">
          <li><a href="" class="upvoteslabel">Upvotes</a></li>
        </ul>
      </div>
    
    <%= link_to post_path(id: comment.post) do %> 
      <div class="large-10 medium-8 small-12 columns profileanswer">
       <p><%= comment.body %> </p>
       <%end%>

       <ul class="inline-list profileinfo">
        <li> <span class="date">Answered on: <%= comment.created_at.to_formatted_s(:long) %></span></li>
        <li><span class="category"><%= link_to "#{comment.post.category.name}", posts_path(category: comment.post.category.name) %></span></li>
        
      </ul>
    </div>
    
    </div>
  <%end%>

<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>