
<div class="signupcontainer large-offset-2">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, :placeholder => "Full Name"%>
  </div>

  <div class="field">
    <%= f.text_field :company, :placeholder => "Company / Firm / Organisation"  %>
  </div>

  <div class="field">
    <%= f.email_field :email, :placeholder => "Email"%>
    <p class="emailnote"> ** lawyers, please use your work / professional email address to enable quicker verification!</p> 
  </div>

  <div class="field solicitor">
    <%= f.check_box :is_solicitor %>   Yes, I'm a solicitor registered with the Solicitors Regulation Authority.  
  </div>  
  

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password (8 characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Re-type Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button signupbutton" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
