<div class="row">
  <div class="large-9 large-offset-3 columns">


<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Question" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Please enter any useful background info to the question" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :category, "Please choose which category your question relates to?"%> <br>
      <%= f.collection_select :category_id, Category.all, :id, :name %> <br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>