

<div class="row">
  <div class="sub-sub-nav">
    <div class="large-12 medium-12 small-12 columns menuitems">
      <ul role="navigation">
        <li role="menuitem" class="<%= 'active' if params[:recent] == 'true'%>"> <%= link_to "Most Recent", :recent => true %> </li>
        <li role="menuitem" class="<%= 'active' if params[:popular] == 'true'%>"> <%= link_to "Most Popular", :popular => true  %></li>
        <li role="menuitem" class="<%= 'active' if params[:unanswered] == 'true'%>"> <%= link_to "Unanswered", :unanswered => true %></li>

      </ul>
    </div>


    <ul>
      <hr>
    </ul>
  </div>
</div>

<% if @posts.count == 0 %>

<h3>No questions yet! <br><br> <%= link_to "Ask a question!", new_post_path, class: "button" %>

<%else%>


<% @posts.each do |post| %>      


<div class="row questionbox">
  <div class="large-2 small-12 columns">
    <div class="large-6 small-6 columns">

      <ul class="answersnumber">
        <li><%= post.comments_count %></li>
      </ul>

      <ul class="answerslabel">
        <li><%= link_to "Answers", post, class: "answerslabel" %> </li>
      </ul>

    </div>
    <div class="large-6 small-6 columns">

      <ul class="answersnumber">
        <li><%= post.tally %></li>
      </ul>

      <ul class="answerslabel">
        <li><%= link_to "Upvotes", post, class: "answerslabel" %> </li>
      </ul>

    </div>
  </div>
  






  <div class="large-9 small-12 columns question">
    <%= link_to post do %>
    <p><%= post.title %></p>
    <%end%>
    <ul class="inline-list info">
      <% if post.created_at == post.updated_at %>
      <li> <span class="date">Asked <%= post.created_at.to_formatted_s(:long) %> </span></li> 

      <% if post.anonymous == false %>
      <li> <img><%= image_tag "missingsmall.png", class: "smallprofileimage"%></img><span class="firstlastname"><%= post.user.name %>, <span class="companyinfo">  <%= post.user.company %></span></span></li>
      <%else%>
      <%end%> 
      <%else%>
      <li> <span class="date">Asked <%= post.created_at.to_formatted_s(:long) %> <br> Last updated <%= post.updated_at.to_formatted_s(:long) %> </span></li> 

      <% if post.anonymous == false %>
      <li> <img><%= image_tag "missingsmall.png", class: "smallprofileimage"%></img><span class="firstlastname"><%= post.user.name %>, <span class="companyinfo">  <%= post.user.company %></span></span></li>
      <%else%>
      <%end%> 


      <%end%>
          <li><span class="category"><%= link_to "#{post.category.name}", polymorphic_path([post.category.linkname])  %></span></li>
    </ul>
  </div>

  <% if user_signed_in? && current_user.is_solicitor == true %>  

  <div class="large-1 small-12 columns  answer-button">
    <%= link_to "Answer", post, class: "uk-button in-line right" %> 
  </div>

  <%else%>

  <div class="large-1 small-12 columns  answer-button">
    <%= link_to "View", post, class: "uk-button in-line right" %> 
  </div>

  <%end%>

  
</div>

<%end%>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<%end%>