 <ul class="side-nav fixed" role="navigation" title="Link List">
   <li role="menuitem"><%= link_to "Show all", root_path %></li>
   <li role="menuitem"><%= link_to "Corporate", posts_path(category: "Corporate / company law") %></li>
   <li role="menuitem"><%= link_to "Intellectual Property", posts_path(category: "Intellectual Property") %></li>
   <li role="menuitem"><%= link_to "Employment", posts_path(category: "Employment") %></li>
   <li role="menuitem"><%= link_to "Commercial", posts_path(category: "Commercial") %></li>
   <li role="menuitem"><%= link_to "Real Estate", posts_path(category: "Real Estate") %></li>
   <li role="menuitem"><%= link_to "Venture Capital", posts_path(category: "Venture Capital") %></li>
 </ul>