<div class="content">
<% @posts.each do |post| %>
<div class="row question">

      <div class="large-3 small-12 columns small-3">
        <ul class="inline-list">
          <li><%= post.comments_count %></li><br>
          <li><%= link_to "Answers", post %></a></li>
          
        </ul>
      </div>
      <div class="large-8 small-12 columns">
        <p><%= post.title %></p>
        
        <ul class="inline-list">
          <li>Asked on <%= post.created_at.to_formatted_s(:long) %></li>
          <li>Category: <%= post.category.name %></li>
        </ul>

        </div>

           <div class="large-1 small-12 columns">

              <%= link_to "Answer", post, class: "uk-button in-line right" %>
           </div>

    </div>

    <%end%>
</div>
      
        
        
        
      
    

  