
 <div class="row qnaquestionbox">

    <div class="large-12 small-12 columns qnaquestion">
      <p><strong><%= @post.title %></strong></p>

      <div class="large-12 small-12 columns description">
        <p><%= @post.description %> </p>

        <div class="row">
          <div class="large-9 small-12 columns">
            <ul class="inline-list qnainfo">
              <li> <span class="date">Asked <%= @post.created_at.to_formatted_s(:long) %></span></li>
              
              <li><span class="category"><%= @post.category.name %></span></li>
            </ul>
          </div>
          <%= link_to @post do %>
          <div class="large-2 small-12 columns qnaanswer-button">
            <ul class="inline-list qnainfo">
              <li>Answer</li>

            </ul>
          </div>
          <%end%>
        </div>
      </div>
    </div>

  </div>


<div class="row answertitle">
    <div class="large-12 small-12 columns ">
      <h5><%=@post.comments_count%> Answers</h5></div>
    </div>

<% @post.comments.each do |comment| %>
    <div class="row answerbox">
      <div class="large-1 small-12 columns votesection">

       <ul class="vote">
        <li><%= link_to "^", like_post_comment_path(@post, comment), method: :put, class: "uk-button vote" %> </li>
      </ul>
      
      <ul class="vote">
        <li> <%= comment.get_upvotes.size - comment.get_downvotes.size %></li>

      </ul>

      <ul class="vote">
        <li><%= link_to "v", dislike_post_comment_path(@post, comment), class: "uk-button vote" %></li>
      </ul>

    </div>
    <div class="large-11 small-12 columns question">
      <p><%= simple_format comment.body %> </p>

      <ul class="inline-list info">
        <li> <span class="date">Answered on <%= comment.created_at.to_formatted_s(:long) %></span></li>
        <li><span class="firstlastname"><%= comment.user.name %> from <%= comment.user.company %> | Comment score: <%= comment.get_upvotes.size - comment.get_downvotes.size %></span></li>
        <li><span class="firstlastname">User rating: <%= comment.user.karma %> <span></li>
        <li><span class="firstlastname">
          <% if comment.user.verified == true %> 
            <%= "Verified solicitor"%>
            <%else%>
            <%= "Pending verification" %>
            <%end%>
        <span></li>
      </ul>
    </div>
  </div>
<%end%>


<%= simple_form_for [@post, Comment.new]  do |f| %>
  <h3>Share an answer </h3>
    <div class="row askquestionform">
      <div class="large-12 small-12 columns questioninput">
      <%= f.text_area :body%>
    </div>
    </div>
    <br>
      <%= f.submit "Add Comment", class: "button success" %>
  <%end%>

</div>
</div>