
<div class="row qnaquestionbox">

  <div class="large-12 medium-12 small-12 columns qnaquestion">
    <p><strong><%= @post.title %></strong></p>
  </div>

  <div class="large-12 medium-12 small-12 columns description">
    <p><%= @post.description %> </p>
  </div>



  <% if user_signed_in? && current_user.is_solicitor == true %>

  <div class="large-6 medium-8 small-12 columns left">
    <ul class="inline-list qnainfo left">
      <li> <span class="date">Asked <%= @post.created_at.to_formatted_s(:long) %></span></li>
      <li><span class="category"><%= link_to "#{@post.category.name}", posts_path(category: @post.category.name) %></span></li>
      <% if @post.user == current_user %>
      <li class="editquestionbutton"><%= link_to "Edit Question", edit_post_path %> </li>
      <%end%>
    </ul>
  </div>

  <%= link_to @post do %>
  <div class="large-3 medium-4 small-12 columns button qnaanswer-button right">
    <a href="#id_postanswer">Answer</a>
  </div>
  <%end%>

  <%else%>
  <div class="large-12 medium-12 small-12 columns left">
    <ul class="inline-list qnainfo left">
      <li> <span class="date">Asked <%= @post.created_at.to_formatted_s(:long) %></span></li>
      <li><span class="category"><%= link_to "#{@post.category.name}", posts_path(category: @post.category.name) %></span></li>
            <% if @post.user == current_user %>
      <li class="editquestionbutton"><%= link_to "Edit Question", edit_post_path %> </li>
      <%end%>
    </ul>
  </div>

  <%end%>



</div>


<div class="row answertitle">
  <div class="large-12 small-12 columns ">
    <h5><%=pluralize(@post.comments_count, "Answer") %> </h5></div>
  </div>

  <% @post.comments.each do |comment| %>
  <div class="row answerbox">
    <div class="large-1 small-12 columns votesection">

     <ul class="vote">
      <li><%= link_to image_tag("icon_up.png", :border => 0, width: 18), like_post_comment_path(@post, comment), method: :put, class: "uk-button" %> </li>
    </ul>

    <ul class="votenumber vote">
      <li> <%= comment.get_upvotes.size - comment.get_downvotes.size %></li>
    </ul>

    <ul class="vote">
      <li><%= link_to image_tag("icon_down.png", :border => 0, width: 18), dislike_post_comment_path(@post, comment), method: :put, class: "uk-button" %></li>
    </ul>

  </div>
  <div class="large-11 small-12 columns question">
    <p><%= simple_format comment.body %> </p>

    <ul class="inline-list info">
      <li> <span class="date">Answered on <%= comment.created_at.to_formatted_s(:long) %></span></li>
      <li><span class="upvotesinfo">Upvotes: <%= comment.get_upvotes.size - comment.get_downvotes.size %></span></li>
      <li> <img><%= image_tag "missingsmall.png", class: "smallprofileimage"%></img><span class="firstlastname"><%= link_to "#{comment.user.name},", profiles_lawyerprofile_path(user: comment.user.id)%>  <span class="companyinfo">  <%= comment.user.company %> </span></span></li>

      
<li> <span class="userscorelabel"> User Score: <%= comment.user.karma %></span></li>
      <li>
        <% if comment.user.verified == true %> 
        <span class="verifiedsolicitor">
          <%= "Verified solicitor"%></span>
          <%else%>
          <span class="pendingverification">
            <%= "Solicitor verification pending" %><span>
          </li>
          <%end%>
        </ul>
        <ul >
          <% if comment.user == current_user %>
          <li class="deleteanswer"><span> <%= link_to 'Delete Answer', post_comment_path(@post, comment), method: :delete %> </span> </li>
          <%else%>
          <%end%>
        </ul>

      </div>
    </div>
    <%end%>

    <% if user_signed_in? && current_user.is_solicitor == true %>
    <%= simple_form_for [@post, Comment.new]  do |f| %>
    <div id="id_postanswer" class="row answerquestionform">
      <div class="large-12 small-12 columns">
        <h3>Share an answer </h3>

        <%= f.text_area :body%>
      </div>
      <br/>
      <%= f.submit "Post Answer", class: "button button-postanswer" %>
      <%end%>

    </div>

    <%elsif user_signed_in? && current_user.is_solicitor == false%>
    <br/>
    <br/>

    <%else%>  

    <br/> <br/> <br/> <br/>
    <div id="id_postanswer" class="row">
      <%= link_to "Sign in / Sign up to post an answer", new_user_session_path, class: "button button-signinsignuptopost" %>
    </div>
    <%end%>
  </div>


