<div class="fixed">

  <nav class="top-bar show-for-large-up hide-for-small-down">
    <div class="large-12 columns">

      <ul class="title-area">
        <li>
         <a class="name inline-list" href="/">
          <span class="logotext">Lawsy<span class="logosubtext"><i>Your legal Q&A site</i></span></span>
        </a>
      </li>
    </ul>
    <div class="right">
     <ul class="button-group">
      <li>
         <p class="icon_search_background"> sfsdf</p>
      </li>

      <li class="icon_search">
        <%= image_tag "icon_search.png", class: "icon_search"%> 
      </li>

    
      <li class="search3">
        <%= form_tag search_path method: :get do %>
          <%= search_field_tag :q, nil, :placeholder => "Search", class: "search3" %>
        <% end %>
    

      <li class= "topbuttons">
       <%= link_to "Home", root_path %>
       <span style="padding-right: 20px;"></span>
       <% if user_signed_in? %>
       <%= link_to "My profile", profiles_myprofile_path %>
       <span style="padding-right: 5px;">|</span>
       <%= link_to "Logout", destroy_user_session_path, method: :delete%>
       

       <%else%>

       <%= link_to "Login", new_user_session_path %>
       <span style="padding-right: 5px;">|</span>
       <%= link_to "Sign up", new_user_registration_path %>
       <%end%>
     </li>

   </ul>
 </div>

</div>
</nav>

  <nav class="top-bar hide-for-large-up hide-for-small-down">
    <div class="large-12 columns">

      <ul class="title-area">
        <li>
         <a class="name inline-list" href="/">
          <span class="logotextsmall">Symbiotic</span>
        </a>
      </li>
    </ul>
    <div class="right smallheader">
     <ul class="button-group">
      <li>
         <p class="icon_search_background"> sfsdf</p>
      </li>
      <li class="icon_search">
        <%= image_tag "icon_search.png", class: "icon_search"%>
      </li>

    

      <li class="search3" style="margin-right: -30px">
        <%= form_tag root_path, method: :get do %>
          <%= search_field_tag :q, nil, :placeholder => "Search", class: "search3" %>
        <% end %>
    

      <li class= "topbuttons">
       
       <span style="padding-right: 20px;"></span>
       <% if user_signed_in? %>
       <%= link_to "My profile", profiles_myprofile_path %>
       <span style="padding-right: 5px;">|</span>
       <%= link_to "Logout", destroy_user_session_path, method: :delete%>
       

       <%else%>

       <%= link_to "Login", new_user_session_path %>
       <span style="padding-right: 5px;">|</span>
       <%= link_to "Sign up", new_user_registration_path %>
       <%end%>
     </li>

   </ul>
 </div>

</div>
</nav>



<nav class="top-bar show-for-small-down hide-for-medium-up">
  <div class="large-12 small-12 columns">

   <a class="name inline-list" href="/">
    <span class="logotextsmall">Symbiotic</span>
  </a>

  <div class="right smallheader">
   <ul class="button-group">

    <li class= "topbuttons" >

     <% if user_signed_in? %>
     <%= link_to "My profile", profiles_myprofile_path %>
     <span style="padding-right: 5px;">|</span>
     <%= link_to "Logout", destroy_user_session_path, method: :delete%>


     <%else%>

     <%= link_to "Login", new_user_session_path %>
     <span style="padding-right: 5px;">|</span>
     <%= link_to "Sign up", new_user_registration_path %>
     <%end%>
   </li>

 </ul>
</div>
</div>
</nav>

</div>


<div class="large-12 columns show-for-large-up hide-for-medium-down">
 <div class="sub-nav  sub-nav-large fixed">
  <ul class="large-10 medium-8 small-6 columns" role="navigation">
    <li role="menuitem" class="activeitem"><%= link_to "Show all", posts_show_all_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Corporate", posts_corporate_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Intellectual Property", posts_ip_path%></li>
     <li role="menuitem" class="activeitem"><%= link_to "Employment", posts_employment_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Real Estate", posts_real_estate_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Venture Capital", posts_venture_cap_path %></li>
 </ul>
 
 
 <ul class="large-1 medium-3 small-6 columns button-askquestion right">
  <%= link_to "Ask a Question", new_post_path%>
</ul>

</div>
</div>

<div class="large-12 columns hide-for-large-up hide-for-small-down">
 <div class="sub-nav fixed">
  <ul class="large-9 medium-8 small-6 columns" role="navigation" style="margin-left: -10px;">
 <li role="menuitem" class="activeitem"><%= link_to "Show all", posts_show_all_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Corporate", posts_corporate_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Intellectual Property", posts_ip_path%></li>
     <li role="menuitem" class="activeitem"><%= link_to "Employment", posts_employment_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Real Estate", posts_real_estate_path %></li>
     <li role="menuitem" class="activeitem"><%= link_to "Venture Capital", posts_venture_cap_path %></li>
 </ul>
 
 
 <ul class="large-2 medium-3 small-6 columns sub-nav-medium-askquestion button-askquestion right">
  <%= link_to "Ask a Question", new_post_path%>
</ul>

</div>
</div>

<div class="large-12 small-12 columns show-for-small-down hide-for-medium-up">
 <div class="sub-nav  sub-nav-small fixed">

  <div class="medium-6 small-6 columns">
    <button href="#" data-dropdown="drop1" data-options="is_hover:true" aria-controls="drop1" aria-expanded="false" class="button dropdown">TOPICS</button><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1" role="navigation" style="min-width: 200px;">

     <li role="menuitem" class="activeitem" style="width: 160px;"><%= link_to "Show all", posts_show_all_path %></li>
     <li role="menuitem" class="activeitem" style="width: 160px;"><%= link_to "Corporate", posts_corporate_path %></li>
     <li role="menuitem" class="activeitem" style="width: 180px;"><%= link_to "Intellectual Property", posts_ip_path%></li>
     <li role="menuitem" class="activeitem" style="width: 160px;"><%= link_to "Employment", posts_employment_path %></li>
     <li role="menuitem" class="activeitem" style="width: 160px;"><%= link_to "Real Estate", posts_real_estate_path %></li>
     <li role="menuitem" class="activeitem" style="width: 160px;"><%= link_to "Venture Capital", posts_venture_cap_path %></li>
   </ul>
 </div>

 <div class="small-6 columns right">
   <ul class="sub-nav-small-askquestion">
    <%= link_to "Ask a Question", new_post_path%>
  </ul>
</div>

</div>
</div>




</div>

