<div class="fixed">

    <nav class="top-bar" data-topbar>

      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">
              Symbiotic
            </a>
          </h1>
        </li>
        <li id="menuicon" class="toggle-topbar menu-icon menuicon" style:"color=#000000;"><a href="#" style:"color=#000000;"><span>Menu</span></a></li>
      </ul>

      <ul class="title-area">
        <li class="name">
          <h2><a href="#">Q&ampA Forum for Law</a></h2>
        </li>
      </ul>

      <section class="top-bar-section">



       <ul class="right">
        <ul>
          <li class="search">
            <form>
              <%= search_form_for @q do |f| %>
               
                <%= f.search_field :description_or_title_or_comments_body_cont, :placeholder => "Search" %>
            </form>
            
            <li class="has-button">
               <%= f.submit class: "small button" %>
               <%end%>
            </li>
          </li>

          <ul>

        
          </ul>

        </ul>
      </ul>
    </section>
  </nav>

</div>

 <div class="fixed">
  
  <dl class="sub-nav">
  <dd> <%= link_to "Most Recent", recent_posts_path(category: @category) %> </dd>
  <dd> <%= link_to "Most Popular", popular_posts_path(category: @category) %></dd>
  <dd> <%= link_to "Unanswered", unanswered_posts_path %></dd>


  
  <div class="button-askquestion">
  <dd> <%= link_to "Ask a Question", new_post_path, class: "uk-button in-line right"  %>
  </div>
              <%= link_to "Home", root_path %>
  <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete%>
              <%= link_to "Account", edit_user_registration_path %>
              <%= link_to "My profile", profiles_myprofile_path %>

              <%else%>

            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path%>
              <%end%>
</dl>
 </div>