 <ul class="side-nav fixed" role="navigation" title="Link List">
   <li role="menuitem"><%= link_to "Show all", root_path %></li>
   <li role="menuitem"><%= link_to "Corporate", categories_corporate_path %></li>
   <li role="menuitem"><%= link_to "Intellectual Property", categories_ip_path%></li>
   <li role="menuitem"><%= link_to "Employment", categories_employment_path %></li>
   <li role="menuitem"><%= link_to "Real Estate", categories_real_estate_path %></li>
   <li role="menuitem"><%= link_to "Venture Capital", categories_venture_cap_path %></li>
 </ul>

 <ul> 

 </ul>
