 <ul class="side-nav fixed" role="navigation" title="Link List">
   <li role="menuitem"><%= link_to "Show all", root_path %></li>
   <li role="menuitem"><%= link_to "Corporate", category: 1 %></li>
   <li role="menuitem"><%= link_to "Intellectual Property", category: 2 %></li>
   <li role="menuitem"><%= link_to "Employment", category: 3 %></li>
   <li role="menuitem"><%= link_to "Commercial", category: 4 %></li>
   <li role="menuitem"><%= link_to "Real Estate", category: 5 %></li>
   <li role="menuitem"><%= link_to "Venture Capital", category: 6 %></li>
 </ul>

